/*Krishiv Bahl*/

body{
margin: 0;
padding: 0;
display: flex;
font: 18px Arial ,sans-serif;
flex-direction: column;
height: 100px;
background-color: blue;
}


.format{
    padding: 1rem;
    margin: 1 rem;
  
}


header,footer{
    text-align: center;
    background: linear-gradient(180deg, red, yellow);
    width: 100%;
}

.nav ul{
    list-style: none;
    background-color: red;
    text-align: center;
    margin: 0%;
}
.nav ul li{
    display: inline-block;
    position: relative;
}
.nav ul li a{
    display: block;
    padding: 10px 15px;
    color: blue;
    font-size: 20px;
    text-align: center;
    font-size: 20px;
}
.nav ul li ul.submenu li {
    padding: auto;
    display: block;
}

.nav ul li ul.submenu{
   background-color: aqua;
   position: absolute;
   z-index: 999;
   display: none;
   width: 100%;
   align-content: center;
}


.nav ul li a:hover{
    background-color: brown;
}

.nav ul li:hover ul.submenu{
    display: block;
}


.profile{
    display: inline-grid;
    float: right;
    shape-outside: circle(67%);
    margin: 20px 20px 20px 0;
    clip-path: circle(50% at 50% 50%);
}

.grid-container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    padding: 15px;
}

img{
    align-content: center;
    margin: 20px;
    shape-outside: circle();
    clip-path: circle(50% at 50% 50%);
}


main{

flex: 2 1 70%;
width: 70%;
color: skyblue;



}

aside{

flex: 1 1 30%;
width: 25vw;
position: relative;
background-image:url(images/15.jpg);

}

aside li {
    list-style: square;
    line-height: 2em;
    list-style: none;
    color:white;
}

aside a{
    color: brown;
    border:solid 2px;
}


.former{
    border: 1rem solid orange;

    padding: 1rem;

    align-items: center;

    margin: 15rem;
}

input[type=text],input[type=mail],input[type=section]input[type=comment]input[type=date]input[type=checkbox] input[type=submit]{
    display: block;
   width: 50%;
height: 1.5rem;
}

[text]{
    width: 50%;

    display: block;

    height: 1.5rem;
}



textarea{
    display: block;
    
    width: 50%;
}

select,option, label, legend, input[type=submit]{
    font-size: 1.5rem;
    font-weight: bold;
    
}











